<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container contact-form">
        <div class="contact-image">
            <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
        </div>
        <form method="post">
            <h3>Drop Us a Message</h3>
           <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="number" name="pregnancies" class="form-control" placeholder="Pregnancies" value="" />
                    </div>
                    <div class="form-group">
                        <input type="number" name="glucose" class="form-control" placeholder="Glucose" value="" />
                    </div>
                    <div class="form-group">
                        <input type="number" name="bloodPressure" class="form-control" placeholder="Blood Pressure" value="" />
                    </div>
                    <div class="form-group">
                        <input type="number" name="skinThickness" class="form-control" placeholder="Skin Thickness" value="" />
                    </div>
                    <div class="form-group">
                        <input type="number" name="insulin" class="form-control" placeholder="Insulin" value="" />
                    </div>
                    <div class="form-group">
                        <input type="number" name="BMI" class="form-control" placeholder="BMI" value="" />
                    </div>
                    <div class="form-group">
                        <input type="number" name="diabetesPredigreeFunction" class="form-control" placeholder="Diabetes Predigree Function" value="" />
                    </div>
                    <div class="form-group">
                        <input type="number" name="age" class="form-control" placeholder="Age" value="" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-block btn-large btnContact">Predict!</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4>Hasil Prediksi</h4>
                </div>
            </div>
        </form>
</div>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>